<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>revision</key>
	<string>rev 1.04</string>
	<key>filename</key>
	<string>senstick_xxaa_s110_release_rev104.zip</string>
</dict>
</plist>
