<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nrf51_revision</key>
	<string>rev 1.07</string>
	<key>nrf51_filename</key>
	<string>senstick_xxaa_s110_release_rev107.zip</string>
	<key>nrf52_revision</key>
	<string>rev 1.07</string>
	<key>nrf52_filename</key>
	<string>senstick_xxaa_s132_release_rev107.zip</string>
</dict>
</plist>
